.Cart-Container {
  width: 85rem;
  height: 25rem;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 25px 40px #1687d933;
}
.Header {
  margin: auto;
  width: 60rem;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 1rem;
  background: white;
  box-shadow: 1px 39px 45px #1516164d;
}
.Heading {
  font-size: 20px;
  font-family: ‘Open Sans’;
  font-weight: 700;
  color: #2f3841;
}
.Action {
  font-size: 14px;
  font-family: ‘Open Sans’;
  font-weight: 600;
  color: #e44c4c;
  cursor: pointer;
  border-bottom: 1px solid #e44c4c;
}
