.about ,.about__content{
    margin-top: 6.4rem;
  }
  .about__container {
    align-items: center;
  }
  .about__wrapper {
    grid-gap: 3rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 4rem;
  }
  .about__header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.about__btn{
    color: white;
    background: darkcyan;
    border: 1px solid darkcyan;
    border-radius: 50px;
    padding: 4px;
    margin-top: 1rem;
}
.about__content {
    margin-bottom: 3rem;
}
.box {
  background: white;
  border: 2px solid transparent;
  text-align: center;
  padding: 1rem 0.8rem;
  border-radius: 1px;
  transition: var(--transition);
  width: 23rem;
  margin-left: 12rem;
  height: 16rem;
}
.box:hover {
  background:transparent;
  border-color: rgb(255, 255, 255);
  cursor: default;
}

.box span {
  
  width: 20rem;
  height: 11rem;
  background: #caebf7;
  color: var(--color-gray-100);
  font-size: 1.5rem;
  display: grid;
  place-items: center;
  margin-bottom: 2.5rem;
  margin-inline: auto;
  border-radius: 1rem;
  transition: var(--transition);
}
.box:hover span {
  background: transparent;
  color: var(--color-gray-600);
}

/* MEDIA QUERIES MEDIUME DEVICES */
@media screen and (max-width: 1024px) {
    .about__wrapper {
      grid-template-columns: 1fr 1fr;
    }
    .box {
      width: 19rem;
      margin-left: 1px;
      height: 14rem;
      margin-top: 4rem;
      padding-bottom: 14rem;
    }
    .box span {
      width: 17rem;
      height: 8rem;
      margin-top: 1rem;
    }
  }
  /* MEDIA QUERIES SMALL DEVICES */
  @media screen and (max-width: 600px) {
    .about__wrapper {
      grid-template-columns: 1fr;
      gap: 2rem;
      margin-top: 3rem;
    }
    .box {
      width: 16rem;
      margin-left: 1px;
    }
    .box span {
      width: 14rem;
      height: 8rem;
      margin-top: 1rem;
    }
  }