.programs {
  margin-top: 4rem;
}
.programs__container {
  align-items: center;
}
.programs__wrapper {
  grid-gap: 3rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 4rem;
}
.programs__program a {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.programs__program:hover a {
  background: #ffffff;
  color: #caebf7;
}
.section__header {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* MEDIA QUERIES MEDIUME DEVICES */
@media screen and (max-width: 1024px) {
  .programs__wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
/* MEDIA QUERIES SMALL DEVICES */
@media screen and (max-width: 600px) {
  .programs__wrapper {
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-top: 3rem;
  }
  .programs__program {
    width: 84%;
    margin: 0 auto;
  }
}
